/* Start of general CSS */

body {
    font-family: Arial, sans-serif;
    background-color: #264653;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.widget {
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightgrey;
    flex: 1 0 25%;
    /* Each widget takes 25% of the container width */
    padding: 20px;
    margin: 10px;
    max-width: 400px;
    text-align: center;
}

[data-category="business"] {
    background-color: #E76F51;
}

[data-category="education"] {
    background-color: #2A9D8F;
}

[data-category="fun"] {
    background-color: #E9C46A;
}

/* End of general CSS */

/* Start of CSS related to tabs */

.tabs {
    text-align: center;
}

.tab {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgrey;
    border: 1px solid transparent;
    border-bottom: 1px solid white;;
    border-radius: 10px 10px 0 0;
    margin-bottom: -1px;
    margin-right: 5px;
    width: 150px;
}

.tabBusiness {
    background-color: #E76F51;
}

.tabEducation {
    background-color: #2A9D8F;
}

.tabFun {
    background-color: #E9C46A;
}

@media screen and (max-width: 720px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
                margin: 0 10px 10px 10px;
    }

    .widget {
        margin: 10px;
    }

    .tab {
        font-size: 14px;
        width: 100px;
    }
}

@media screen and (max-width: 540px) {
    body {
        padding: 5px;
    }

    .container {
        padding: 5px;
        margin: 0 5px 5px 5px;
    }

    .widget {
        margin: 5px;
    }

    .tab {
        font-size: 10px;
        width: 60px;
        padding: 5px;
    }
}

.tab.active {
    background-color: white;
}

/* End of CSS related to tabs */

/* Start of CSS for Widget 1 */

.userProfileWidget {
    background-color: #F4A261;
}

.userProfileWidget img {
    background-color: #264653;
    object-fit: contain;
    width: 100%;
}

/* End of CSS for Widget 1 */

/* Start of CSS related to weather widget */

#weather-data p {
    margin: 10px 0;
}

h3 {
    font-size: 42px;
}

/* End of CSS related to weather widget */

/* Start of CSS related to Google Translation widget */

.inputTextAreaGoogleTranslation {
    border-radius: 4px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.buttonGoogleTranslation {
    padding: 10px 20px;
    cursor: pointer;
}

#translation-result {
    background-color: white;
    border-radius: 4px;
    margin-top: 13px;
    text-align: center;
    width: 100%;
}

/* End of CSS related to Google Translation widget */

/* Start of CSS related to ChatGPT bot widget */

#queryInput {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
}

.chatGptSendButton {
    padding: 10px 20px;
    cursor: pointer;
}

#responseFieldChatGPTBot {
    display: flex;
    justify-content: center;
}

#responseOutput {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    width: 80%;
}

/* End of CSS related to ChatGPT bot widget */

/* Start of CSS related to article summarizer widget */

#firstBlockArticleSummarizer {
    /* border: 1px solid red; */
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
}

.input-field {
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px;
    width: 92%;
}

.language-label {
    font-size: 16px;
    margin-bottom: 5px;
}

.language-dropdown {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 8px;
    width: 80%;
}

.buttonArticleSummarizer {
    padding: 10px 20px;
    cursor: pointer;
}

#secondBlockArticleSummarizer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#articleSummaryLabel {
    margin-bottom: 0;
}

.articleSummary {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 80%;
}

/* End of CSS related to article summarizer widget */

/* Start of CSS for Video recipe widget */

.recipeInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipeName,
#inclIngredients,
#exclIngredients {
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
}

#buttonVideoRecipeSearch {
    cursor: pointer;
    padding: 10px 20px;
}

.video-container {
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.video-thumbnail-img {
    width: 100%;
    height: 200px;
    /* Set a fixed height for the thumbnails */
    object-fit: cover;
    /* Maintain aspect ratio and fill the container */
}

.video-container h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* End of CSS for Video recipe widget */